!Colors
!!Black
*.color0: #1b1918
*.color8: #766e6b
!!Red
*.color1: #f22c40
*.color9: #f22c40
!!Green
*.color2: #5ab738
*.color10: #5ab738
!!Yellow
*.color3: #d5911a
*.color11: #d5911a
!!Blue
*.color4: #407ee7
*.color12: #407ee7
!!Megenta
*.color5: #6666ea
*.color13: #6666ea
!!Cyan
*.color6: #00ad9c
*.color14: #00ad9c
!!White
*.color7: #a8a19f
*.color15: #f1efee

!General
*foreground: #ffffff
*foreground_bold: #a8a19f
*background: #000000
*cursor: #a8a19f
!URxvt
URxvt.font: xft:monospace:size=15
URxvt.background: [80]#000000
URxvt.depth: 32
URxvt.cursorColor: magenta
URxvt.intensityStyles: false
URxvt.scrollBar: false
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
